.banner{
    background-image: url(./assets/img/imageRolling1.jpg);
    background-size: cover;
    background-position: center top;
    height: 300px;
    margin-top: 0%;
} 
   


.margin-image {
float: left;
margin-top: 50px;
margin-left: 100px;
margin-bottom: 20px;
}
